# Python
__pycache__/
*.pyc
*.pyo

# Client models folder
client_models/

# Flower
.flwr/


# Conda
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Global Model
global_model.pt

# Metrics
metrics_history.json
